<div [ngClass]="incorrectIdentifiers ? 'container shake' : 'container'">

  <h2>{{textH2}}</h2>
  <div class="red" *ngIf="incorrectIdentifiers">
    Les identifiants sont incorrects !
  </div>

  <div class="table">

    <div class="row">

      <label class="cell">Pseudo : </label>
      <input class="cell" type="text" [(ngModel)]="login" name="login"
             (ngModelChange)="onChangeCheck()"/>

    </div>

    <div class="row" *ngIf="role === 'register'">

      <label class="cell">Email : </label>
      <input class="cell" type="text" [(ngModel)]="email" name="email"
             (ngModelChange)="onChangeCheck()"/>

    </div>

    <div class="row">

      <label class="cell">Mot de passe : </label>
      <input class="cell" type="password" name="password" [(ngModel)]="password"
             (ngModelChange)="onChangeCheck()"/>

    </div>

    <div class="row">
      <div class="btn btn-swag cell" (click)="onClickValidate()">Valider</div>
    </div>

  </div>

</div>
