<h1>Création d'un article</h1>

<form class="container table" #f="ngForm" novalidate [ngClass]="invalidArguments ? 'shake' : ''">
  <div *ngIf="invalidArguments" class="red">Le titre et le résumé ne peuvent pas être vides. </div>
  <h2>Ecrivez votre article</h2>
  <div class="row">

    <label class="cell" for="title">Titre</label>
    <input class="cell" type="text" id="title" name="title" ngModel (ngModelChange)="onChangeReset()" />

  </div>


  <div class="row">
    <label class="cell" for="synopsis">Résumé</label>
    <input class="cell" type="text" id="synopsis" name="synopsis" ngModel maxlength="50"
           (ngModelChange)="onChangeReset()"/>
  </div>


  <div class="row">
    <label class="cell" for="categorySelection">Catégorie</label>
    <select class="cell" name="category" id="categorySelection" [(ngModel)]="selectedCategory">
      <option *ngFor="let category of categories" [value]="category">{{category | display}}</option>
    </select>
  </div>

  <div class="row">
    <div class="cell">Tags : {{tags  | displayTags}}</div>
    <input type="text" name="addTag" [(ngModel)]="tag">
    <button (click)="onClickAddTag()">Ajouter un tag</button>
  </div>

  <div class="row">
    <label class="cell" for="content">Texte de l'article</label>
    <textarea class="cell" id="content" name="content" ngModel=""></textarea>
  </div>

  <button class="row" (click)="onClickSend(f)">Envoyez</button>
</form>

