<div *ngIf="user">
  <h1 class="text-center">Voici la liste de vos articles, {{login}}({{user.email}})</h1>

  <div>
    <div class="container" *ngIf="user.articles.length === 0">Vous n'avez aucun article.</div>
    <app-article *ngFor="let article of user.articles" [article]="article" [displayUser]="true"></app-article>
  </div>
</div>

<div *ngIf="!user" class="loader"></div>
