<nav class="navbar bg-swag">

  <a class="navbar-brand">ZenikaBlog</a>

  <div class="nav navbar-nav flex-row justify-content-start s2">

    <app-nav-button text="Mon compte" [link]="loginLink" *ngIf="isConnected"></app-nav-button>

    <app-nav-button text="Liste d'articles" link="/articles"></app-nav-button>

    <app-nav-button text="Création d'articles" link="/articlesCreation" *ngIf="isConnected"></app-nav-button>

    <app-nav-button text="Statistiques" link="/analytics"></app-nav-button>

  </div>

  <div class="nav navbar-nav">
    <app-nav-button link=""></app-nav-button>
  </div>


</nav>
