<h1 class="text-center">Liste des articles</h1>

<div>
  <label for="search">Chercher par titre d'article</label>
  <input type="text" id="search" [(ngModel)]="search">
  <button (click)="onClickSearch()">Lancer la recherche</button>
</div>

<div *ngIf="!articles" class="loader"></div>

<div *ngIf="articles && articles.length > 0" class="table">
  <h3>Filtrer</h3>

  <div class="row">
    <label class="cell" for="authorSelection">par auteur : </label>
    <select class="cell" name="authorSelection" id="authorSelection" [(ngModel)]="selectedAuthor">
      <option value="null">Tous les auteurs</option>
      <option *ngFor="let author of authors" [value]="author">{{author}}</option>
    </select>
  </div>

  <div class="row">
    <label class="cell" for="categorySelection">par catégorie : </label>
    <select class="cell" name="categorySelection" id="categorySelection" [(ngModel)]="selectedCategory">
      <option value="null">Toutes les catégories</option>
      <option *ngFor="let category of categories" [value]="category">{{category | display}}</option>
    </select>
  </div>

  <div class="row">
    <label class="cell" for="tagSelection">par tag : </label>
    <select class="cell" name="tagSelection" id="tagSelection" [(ngModel)]="selectedTag">
      <option value="null">Tous les tags</option>
      <option *ngFor="let tag of tags" [value]="tag">{{tag | displayTag}}</option>
    </select>
  </div>

  <div class="row">
    <button class="cell" (click)="onClickFilter()">Filtrer</button>
  </div>
</div>


<app-article *ngFor="let article of filteredArticles" [article]="article"></app-article>

<div class="container text-center" *ngIf="filteredArticles && filteredArticles.length === 0">
  Il n'y a pas d'articles !
</div>
