<h1 class="text-center">Statistiques</h1>

<div *ngIf="!data" class="loader"></div>

<div class="container table" *ngIf="data">
  <h3>Filtrer</h3>

  <div class="row">
    <label class="cell" for="authorSelection">par auteur : </label>
    <select class="cell" name="authorSelection" id="authorSelection" [(ngModel)]="selectedAuthor">
      <option value="null">Tous les auteurs</option>
      <option *ngFor="let author of data.authors" [value]="author">{{author}}</option>
    </select>
  </div>

  <div class="row">
    <label class="cell" for="categorySelection">par catégorie : </label>
    <select class="cell" name="categorySelection" id="categorySelection" [(ngModel)]="selectedCategory">
      <option value="null">Toutes les catégories</option>
      <option *ngFor="let category of data.categories" [value]="category">{{category | display}}</option>
    </select>
  </div>

  <div class="row">
    <label class="cell" for="tagSelection">par tag : </label>
    <select class="cell" name="tagSelection" id="tagSelection" [(ngModel)]="selectedTag">
      <option value="null">Tous les tags</option>
      <option *ngFor="let tag of data.tags" [value]="tag">{{tag | displayTag}}</option>
    </select>
  </div>

  <div class="row">
    <button class="cell" (click)="onClickFilter()">Obtenir les statistiques</button>
  </div>
</div>

<div class="container" *ngIf="stats">
  <div>Nombre d'articles : {{stats.articleNumber}}</div>
  <div>Nombre moyen de tags par article : {{stats.averageTagNumberPerArticle}}</div>
  <div>Nombre moyen de mots par article : {{stats.averageWordNumberPerArticle}}</div>
</div>
