<h1 class="text-center">Login</h1>

<div class="d-flex flex-column justify-content-around align-items-center h">

  <app-user-form [reset]="resetL" [role]="'login'" (modified)="onModificationResetRegister()">

  </app-user-form>

  <app-user-form [reset]="resetR" [role]="'register'" (modified)="onModificationResetLogin()">

  </app-user-form>

</div>
