<div class="container">
  <div class="banner" *ngIf="article.status === 'DRAFT'">
    <div class="text-center"> DRAFT</div>
  </div>
  <h2 class="text-center">{{article.title}}</h2>
  <div *ngIf="displayUser">Auteur : {{article.author}}</div>
  <div>Résumé : {{article.synopsis}}</div>
  <button (click)="onClickGoToSee()">Voir le contenu de l'article</button>
  <button *ngIf="displayUser && article.status === 'DRAFT'" (click)="onClickPublish()">Publier l'article</button>
  <button *ngIf="displayUser" (click)="onClickGoToModify()">Modifier le contenu de l'article</button>
</div>
