<h1 class="text-center">Article détaillé</h1>

<div class="container" *ngIf="article">
  <div class="banner" *ngIf="article.status === 'DRAFT'">
    <div class="text-center"> DRAFT</div>
  </div>
  <h2>{{article.title}}</h2>
  <div>Auteur : {{article.author}}</div>
  <div>Résumé : {{article.synopsis}}</div>
  <div>Catégorie : {{article.category | display}}</div>
  <div>Tags : {{article.tags | displayTags}}</div>
  <div *ngIf="!modify" class="container content">
    <app-content *ngFor="let c of article.content" [content]="c"></app-content>
  </div>
  <label *ngIf="modify === 'true'" for="content">Texte de l'article</label>
  <textarea *ngIf="modify === 'true'" name="content" id="content" cols="30" rows="4" [(ngModel)]="newContent"></textarea>
  <button *ngIf="modify === 'true'" (click)="onClickModify()">Modifier le contenu</button>
</div>

<div class="container" *ngIf="!article">Article inexistant !</div>
